:root {
  --main-txt-cl: #212121;
  --secondary-txt-cl: #ffffff;
  --ouwer-txt-cl: #757575;
  --accent-sec-cl: #f38181;
  --accent-cl: #fce38a;
  --logo-color-text: #eaffd0;
  --service-icon-cl: #95e1d3;

  // --------- fonts ----------

  --font-accent: 'Kaushan Script', cursive;
  --font-main: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  // -------- other colors --------
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #ffffff;
  --icon-color: #afb1b8;
}
